{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>make and trade</title>
    </head>

    <body>
      <div class="container" id="about">
        <br></br>

<!--  ########################################navbar####################################################-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Make and trade</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'materials' %}">Matrils</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'tutorials' %}">Tutorials</a>
              </li>
            </ul>
          </div>
          <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-info my-2 my-sm-0" href="{% url 'accounts:login' %}" type="submit" role="button" >Login</a>
          </form>
        </nav>

<!--  ########################################cover####################################################-->
        <br></br>
        <div class="jumbotron">
          <h1 class="display-4" id="x1"><strong>Welcome to make and trade!</strong></h1>
          <p class="lead" id="x2" style="font-size:180%"><strong>Learn about  crafts, Make them, sell them ,all in one place here in our website.</strong></p>
          <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
        </div>
        <br></br>

<!--  ########################################main cards####################################################-->
        <div>

                <div class="cards">

                    <h1 class="display-4" style="font-weight:350" style="text-align: center" id="why">Why use our website</h1>



                </div>
                <div class="container" id="abc">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="card" style="width: 22rem ">
                        <img class="card-img-top" src= "{%static '1.jpg'%}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Tutorials</h5>
                        <p class="card-text">You will learn from people experinced with making handcrafts how to start making your own and what will you need</p>

                        </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card" style="width: 22rem ">
                        <img class="card-img-top" src="{%static '2.jpg'%}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Selling products</h5>
                        <p class="card-text">Through us you will  easily market your products and contact those who are interested   </p>

                        </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card" style="width: 22rem" >
                        <img class="card-img-top" src="{%static '3.jpg'%}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Providing materials </h5>
                        <p class="card-text">You will be able to find any material you need for your hadncraft in our webiste and it will reach you in no time </p>
                    </div>
                        </div>
                        </div>
                    </div>


					<p class="join">Want to Join our family?what are waiting for sign up here </p>



                            <form class="form-inline justify-content-center" >

                        <a   class="btn btn-info btn-lg" href="{% url 'accounts:signup' %}" type="submit" role="button" >Signup</a>

					</form>
                </div>

            </div>



        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
